html{
    box-sizing: border-box;
}


:root{
    --primary-text-color: #212121;
    --second-text-color: #757575;
    --white-color: #FFFFFF;
    --acent-color: #2196F3;
    --logo-color: #000000;
    --bgc-color: #F5F4FA;
    --bgc-footer-color: #2F303A;
    --bgc-up-color: #2F303A;
}
/* Одиніз цветов логотипа #000000 */

/* Цвет основного текста #212121  */

/* Цвет вторичногоо текста  #757575 */

/* Цвет акцентированого текста #2196F3   */

/* Белий текст  #FFFFFF */

/* Акцентируваний фон #2196F3  */

/* Основной фон #F5F4FA */
h1,h2,h3,h4,h5,h6,p,ul,li,a{
    margin: 0;
    padding: 0;
}
body {
    color: var(--primary-text-color);
    background-color: var(--white-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    
}

.list{
    list-style: none;
    text-decoration: none;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px red solid; */
    margin-left: auto;
    margin-right: auto;
    
}

/* Header */
.header{
    border-bottom: 1px solid #ECECEC;
}
.nav, header nav{
    display: flex;
}
/* logo */
.logo{
    color:  var(--acent-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
}


.logo-black{
    color: var(--logo-color);
    
}

.logo-container{
    margin-right: 93px;
}

header .logo{
    padding-top: 24px;
    padding-bottom: 25px;
}


/* site nav */
.navi{
    display: flex;
}

.navi-link{
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
}


.navi-link:hover,
.navi-link:focus,
.contakts-link:hover,
.contakts-link:focus,
.active{
    color: var(--acent-color);
}

.active::after{
    display: inline-block;
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--acent-color);
    border-radius: 2px;
    bottom: 0;
    left: 0;

}

/* contakts list */
.header .contakts{
    display: flex;
    margin-left: auto;
}

.nav .item:not(:last-child){
    margin-right: 50px;
}

.contakts-link{
    color: var(--second-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    display: inline-flex;
}

.contakts-link-icon{
width: 16px;
height: 16px;
fill: var(--second-text-color);
margin-right: 10px;
}

.contakts-link:hover .contakts-link-icon,
.contakts-link:focus .contakts-link-icon
{
    fill: var(--acent-color);
}

.item{
    display: flex;
    position: relative;
}

/* Footer */

.footer{
    background-color: var(--bgc-footer-color);
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
}

.logo-white{
    color: var(--white-color);
}

.opis {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.contakts-footer{
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.adress{
    color: var(--white-color);
}


/* Index */



/* hero */
.hero{
    background-color: var(--bgc-up-color);
    color: var(--white-color);
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 200px 0;
    /* background-image: url(../images/hero.jpg); */
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.hero-title{
font-weight: 900;
font-size: 44px;
line-height: 1.36; 
letter-spacing: 0.06em;
text-transform: uppercase;
margin-left: auto;
margin-right: auto;
width: 696px;
}
.hero-button{
    color: var(--white-color);
    background-color: var(--acent-color);

    font-family: 'Roboto';
font-weight: 700;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

display: inline-block;
border-radius: 4px;
padding: 10px 32px;
border: 0px;
min-width: 200px;
margin-top: 30px;
}
/* section */

.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.section{
    padding: 94px 0;
}


/* feature */

.feature{
    display: flex;
}

.feature-item:not(:last-child){
    margin-right: 30px;
}

.invisible{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.feature-title{
font-weight: 700;
line-height: 1.14;
text-transform: uppercase;
}

.feature-tekst{
color: var(--second-text-color);
line-height: 1.71;

margin-top: 10px;
}

.feature-block{
    height: 120px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bgc-color);
}

.feature-block-pictures{
    width: 70px;
    height: 70px;
}
/* work */

.work{
    margin-top: 50px;
    display: flex;
}

.work-item:not(:last-child){
    margin-right: 30px;
}

.works-section{
    padding-top: 0px;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}
.work-item{
    position: relative;
}
.work-text{
    position: absolute;
width: 370px;
height: 70px;
background-color: var(--bgc-footer-color);
padding: 27px;
bottom: 0;
opacity: 0.8;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;

color: var(--white-color);
}

/* Team */

.team-section{
    background-color: var(--bgc-color);
}
.team{
    display: flex;
    margin-top: 50px;
}

.team-title{
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
}

.team-container{
padding-top: 30px;
padding-bottom: 30px;
}

.team-text{
    color: var(--second-text-color);
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;

margin-top: 10px;
} 







/* Portfolio */





.portfolio-button{
    color: var(--primary-text-color);
    background-color:var(--bgc-color);
    cursor: pointer;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;

    border-radius: 4px;
    padding: 6px 22px;
    border: 0px;
   }

   .portfolio-item:not(:last-child){
    margin-right: 8px;
   }
   
   .portfolio-button:hover,
   .portfolio-button:focus{
       color: var(--white-color);
    background-color:var(--acent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   }
   .galery{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 30px;
   }

   .galery-link{
    display: block;
   }

   .galery-link:hover,
   .galery-link:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
   }
   .galery-title{
    color: var(--primary-text-color);
   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
   }
   
   .galery-text{
    color: var(--second-text-color);
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.03em;

   margin-top: 4px;
   }

   .galery-link:hover .galery-img-text,
   .galery-link:focus .galery-img-text{
    opacity: 0.9;
    transform: translateY(0%);  
   }
   .galery-img-box{
    position: relative;
    overflow: hidden;
   }


   .galery-img-text{
    position: absolute;
    width: 100%;
    height: 294px;
    background-color: var(--acent-color);
    top: 0;
    padding: 63px 24px;
    transform: translateY(100%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
   }

   .team-person{
    /* outline: 1px red solid; */
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
   }
   .team-person:not(:last-child){
    margin-right: 30px;
   }

   .portfolio{
    display: flex;
    justify-content: center;
    /* outline: 2px red solid; */
   }

   .galery-box:nth-child(3n){
    margin-right: 0px;
   }

   .galery-box-text{
    /* outline: 2px red solid; */
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
   }

   .mtop{
    margin-top: 94px;
   }

   .contakts-item{
    margin-top: 9px;
   }

   .contakts-item-adress{
    margin-top: 20px;
   }

   .team-link-list{
    height: 44px;
    width: 44px;
   }

   .social-link{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    color: #AFB1B8;
   }

   .social-link:hover,
   .social-link:focus{
    color: #FFFFFF;
    background-color: var(--acent-color);
   }

   .team-link-icon{
    fill: currentColor;
    width: 20px;
    height: 20px;
   }

   .team-link{
    justify-content: center;
    gap: 10px;
    display: flex;
    gap: 10px;
    margin-top: 16px;
   }


   .clients-link{
    box-sizing: border-box;
    margin-top: 50px;

   }



   .clients-link + .clients-link{
    margin-left: 30px;
   }

   .clients-link-icon{
    height: 92px;
    width: 170px;
    fill: currentColor;
   }
   .clients-ref{
    display: flex;
    color: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
   }
   .clients-ref:hover,
   .clients-ref:focus{
    color: var(--acent-color);
    border-color: var(--acent-color);
   }

   .clients{
    display: flex;
   }

   .adresa-link{
    align-items: baseline;
    display: flex;
   }

   .link{
    margin-left: 70px;
   }

   .link-title{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;


   }

   .link-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
   }

   .link-list-item{
    display: flex;
    height: 44px;
    width: 44px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
   }

   .link-list-ref{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
   }

   .link-list-ref:hover,
   .link-list-ref:focus{
    background-color: var(--acent-color);
   }

   .link-list-item + .link-list-item{
    margin-left: 10px;
   }

   .link-list-icon{
    display: flex;
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
    justify-content: center;
    align-items: center;
   }

   .backdrop{
    position: fixed;
    top: 0 ;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

   }

   .backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
   }

   .modal{
    min-width: 528px;
    min-height: 581px;
    background-color: var(--white-color);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   }

   .button-close{
    box-sizing: border-box;

position: absolute;
right: 8px;
top: 79px;
width: 30px;
height: 30px;
border-radius: 50%;
background-image: url(../images/Ellipse\ 1.svg);
border: 1px solid rgba(0, 0, 0, 0.1);
   }